.container {
    margin: 50px 0;
}
.infected {
    color: rgba(0, 0, 255, 0.5);
}
.recovered {
    color:  rgba(0, 255, 0, 0.5);
}
.deaths {
    color:  rgba(255, 0, 0, 0.5);
}

.card {
    margin: 10px 2% !important;
}
.card.infected {
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}
.card.recovered {
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}
.card.deaths {
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}